<!doctype html>
<head>
  <!-- Installing the sortable.js library. Used for rearrange code solutions-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
</head>
<title>Practice - LeetReview</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='templates/practice/index.css') }}">
<body>
  <h1>Practice</h1>
  <a href={{ url }}>{{ url }}</a>
  

  <div class="wrapper">
    <div id="bank">
      {% for line in lines %}
        <code class="code">{{line|string}}</code>
      {% endfor %}
    </div>
    
    <div id="code">
      
    </div>
  </div>





  </div>
      <button id="submit" type="button">Submit</button> 
      <p id="result"></p>
  <div>
</body>
<script>
  const Sortable = window.Sortable;
 
  let correct = null;

  let code = document.getElementById('code');
  let code_sortable = Sortable.create(code, {
    group: 'lines',
  });

  let bank = document.getElementById('bank');
  let bank_sortable = Sortable.create(bank, {
    group: 'lines',
  });

  function check_answer(data) {
    let url = "{{ request.path }}check";
    let config = {
        method: 'POST',
        mode: 'cors',
        cache: 'no-cache',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    };
    fetch(url, config)
    .then(function(response) {
        return response.json();
    })
    .then(function(data) {
        correct = data;
        // indicate whether the current permutation is correct or not
        // by updating background color on screen
        //
        // TODO: find a less visually obnoxious way to do this
        let res = document.getElementById('result');
        if (correct === true) {
            res.innerText = 'Correct!';
        } else if (correct === false) {
            res.innerText = 'Incorrect!';
        }
    });
  }

  function get_answer() {
      let code = document.getElementById('code');
      lines = [];
      for (let i = 0; i < code.children.length; i++) {
          lines.push(code.children[i].textContent);
      }
      
      return {
          lines: lines,
          id: "{{id}}",
      };
  }
  let submit_button = document.getElementById("submit");
  submit_button.onclick = function () {check_answer(get_answer());};
</script>
